<h1>Posts List
	<% if user_signed_in? %>
		<small><%= link_to "MyPage", user_path(current_user) %></small>
		<small><%= link_to "Logout", destroy_user_session_path, method: :delete %></small>
	<% else %>
		<small><%= link_to "Login", new_user_session_path %></small>
	<% end %>
</h1>
<table style="width: 100%;">
	<tr>
		<td>
			<%= form_with url: posts_search_path, method: :get, local: true do |f| %>
				<%= f.text_field :keyword %>
				<%= f.submit "Search" %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<%= link_to "New Post", new_post_path %>
		</td>
	</tr>
	<% @posts.each do |post| %>
		<tr>
			<td><%= attachment_image_tag post, :post_image, :fill, 600, 400, format: "jpeg", style: "width: 100px;" %></td>
			<td>
				<%= link_to post_path(post) do %>
					<%= post.title %>
				<% end %>
			</td>
			<% if post.user.id == current_user.id %>
			<td><%= link_to "Edit", edit_post_path(post) %></td>
			<td><%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Sure?" } %></td>
			<% end %>
		</tr>
	<% end %>
</table>
